/* ---------------------------------------------------------------------- */

/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
/* ---------------------------------------------------------------------- */


/*-- scss:defaults --*/

$navbar-hl: #fff48c;
$navbar-bg: rgba(#222b00, .5);
$body-bg: rgba(#849448, .6);
$body-color: #222b00;

/*-- scss:rules --*/

/* unvisited link */
a:link {
  color:  rgba(#222b00, .75);
  text-decoration: underline;
}

/* visited link */
a:visited {
  color:  #960000;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color:  #ed9b1f;
  text-decoration: underline;
  
}

/* selected link */
a:active {
  color:  #960000;
  text-decoration: none;
} 


