/* ---------------------------------------------------------------------- */

/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
/* ---------------------------------------------------------------------- */


/*-- scss:defaults --*/

$navbar-hl: #fff48c;
$navbar-bg: #222b00;
$body-bg: #849448;
$body-color: #fff48c;

/*-- scss:rules --*/

/* unvisited link */
a:link {
  color:  #ed9b1f;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #960000;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:  #ed9b1f;
  text-decoration: underline;
  
}

/* selected link */
a:active {
  color:  #ed9b1f;
  text-decoration: none;
} 


