/* ---------------------------------------------------------------------- */

/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
/* ---------------------------------------------------------------------- */


/*-- scss:defaults --*/

$navbar-hl: #849448;
$navbar-bg: rgba(#849448, .5);
$body-bg: rgba(#FFFDD0, .25);
$body-color: #4C574F;

/*-- scss:rules --*/

/* unvisited link */
a:link {
  color:  rgba(#0000EE, .75);
  text-decoration: underline;
}

/* visited link */
a:visited {
  color:  #960000;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color:  #ed9b1f;
  text-decoration: underline;
  
}

/* selected link */
a:active {
  color:  #960000;
  text-decoration: none;
} 


